* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Markazi Text', serif;
  padding-top: 100px;
  background: #fff;
}

body a {
  text-decoration: none;
}

/**************************************** start navbar *****************/
.active_a {
  color: #FF1949 !important;
}

.active_back {
  color: #fff !important;
  background: #FF1949 !important;
}

.bg-light {
  background: #f3f3f3  !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
}

nav .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  nav .navbar-nav {
    margin-right: 50px;
  }
}

nav form {
  overflow: hidden;
  position: relative;
  width: 240px;
}

@media (max-width: 991px) {
  nav form {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  nav form {
    width: 400px;
    margin-right: 120px;
  }
}

nav form input {
  display: block;
  width: 100% !important;
}

nav form i {
  position: absolute;
  left: 15px;
  top: 13px;
}

nav li {
  padding: 11px;
}

nav li .btn-danger {
  color: #fff !important;
  padding: 10px 25px !important;
}

@media (max-width: 991px) {
  nav li .btn-danger {
    width: 100px;
  }
}

nav .dropdown .dropdown-menu {
  border-top: 2px solid #FF1949;
  overflow: hidden;
  padding: 0;
  width: 220px;
  border-radius: 5px;
}

nav .dropdown .dropdown-menu .dropdown-item {
  padding: 10px 24px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav .dropdown .dropdown-menu .dropdown-item:hover {
  color: #fff;
  background: #FF1949;
}

nav .dropdown .dropdown-menu .dropdown-divider {
  margin: 0;
}

/**************************************** end navbar *****************/
/**************************************** start content *****************/
.teachers {
  padding: 100px 0;
  background: #eef1ef21;
  overflow: hidden;
}

.teachers .head {
  margin-bottom: 20px;
}

.teachers .head .info {
  text-align: right;
}

@media (max-width: 767px) {
  .teachers .head .info {
    text-align: center;
    margin-bottom: 30px;
  }
}

.teachers .head .info .line {
  width: 60px;
  height: 2px;
  margin-right: 10px;
  background: #FF1949;
}

@media (max-width: 767px) {
  .teachers .head .info .line {
    margin: auto;
  }
}

.teachers .head .input {
  margin-top: 10px;
  padding-left: 12px;
}

@media (max-width: 767px) {
  .teachers .head .input {
    padding: 0 15px;
  }
}

.teachers .head .input input {
  width: 100%;
  padding: 9px;
  border-radius: 10px;
  background: #fff;
  border: 1.5px solid #eef5f9;
  outline: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.teachers .head .input input:focus {
  border: 1.5px solid #43454b;
}

.teachers .item {
  text-align: center;
  background: #fff;
  padding: 25px 25px 5px 25px;
  margin: 25px 15px 30px 15px;
  -webkit-transition: .4s;
  transition: .4s;
}

.teachers .item:hover {
  -webkit-box-shadow: 0 0 7px 2px #e2f4ff;
          box-shadow: 0 0 7px 2px #e2f4ff;
}

.teachers .item:hover .item_body .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teachers .item:hover .item_body {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
}

.teachers .item .item_body {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  margin: 0 auto;
}

.teachers .item .item_body .cont_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 15px auto;
}

@media (max-width: 992px) {
  .teachers .item .item_body .cont_img {
    width: 180px;
    height: 180px;
  }
}

.teachers .item .item_body .cont_img img {
  width: 100%;
  height: 100%;
}

.teachers .item .item_body h2 {
  color: #07294D;
}

.teachers .item .item_body p {
  color: #FF1949;
}

.teachers .item .item_body .social {
  margin-top: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teachers .item .item_body .social a {
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align-last: center;
  line-height: 37px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.teachers .item .item_body .social a:hover {
  background: #FF1949;
}

.teachers .item .item_body .social a i {
  color: #fff;
}

.teachers .item .item_body .social .face {
  background: #222;
}

.teachers .item .item_body .social .twitter {
  background: #1da1f2;
}

.teachers .item .item_body .social .linkd {
  background: #0077b5;
}

/**************************************** end content *****************/
/**************************************** start footer *****************/
footer {
  background: #000;
  padding: 20px 0;
}

footer .info {
  color: #fff;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .info .cont_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

footer .info .cont_img img {
  width: 100%;
  height: 100%;
}

footer .info .social {
  margin-right: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

footer .info .social a {
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align-last: center;
  line-height: 37px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background: #fff;
}

footer .info .social a:hover {
  background: #FF1949;
  color: #fff;
}

footer .info .social a i {
  color: #000;
}

.copyright {
  padding: 20px;
  border-top: 1px solid #ffffff59;
  background: #000;
  color: #ffff;
}

/**************************************** start scroll to top  *****************/
.scroll_top {
  width: 35px;
  height: 35px;
  display: none;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  bottom: 50px;
  left: 20px;
  background: #FF1949;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.scroll_top i {
  font-size: 25px;
}

/**************************************** end scroll to top  *****************/
/**************************************** end footer *****************/
/*# sourceMappingURL=about.css.map */