//rsest body
@import '../../css/extends/reset';

/**************************************** start navbar *****************/
@import '../../css/extends/nav';
/**************************************** end navbar *****************/





.content{
    background:#eef1ef21;
    padding:50px 0;
    .head{
        margin-bottom: 20px;
        padding:20px 0;
        .info{
            text-align: right;
            @media(max-width:767px){
                text-align: center;
                margin-bottom: 30px;
            }
            .line{
                width:60px;
                height:2px;
                margin-right: 10px;
                background: #FF1949;
                @media(max-width:767px){
                    margin:auto
                }
                
            }
        }
        .input{
            margin-top:10px;
            padding-left: 12px;
            @media(max-width:767px){
                padding: 0 15px;
            }
            input{
                width:100%;
                padding:9px;
                border-radius:10px;
                background: #fff;
                border: 1.5px solid #eef5f9;
                outline: none;
                transition: all .3s ease-in-out;
                &:focus{
                    border: 1.5px solid #43454b;
                }
            }
        }
    }
    .item{
        border: 1px solid #e2f4ff;
        background: #fff;
        transition: .4s;
        position: relative;
        margin: 20px 0;
        &:hover{
            box-shadow: 0 0 7px 1px #e2f4ff;
        }
        .title{
            position: absolute;
            top:20px;
            right:20px;
            padding:7px 12px;
            background:#fff;
            color:#555;
            border-radius:5px;
            z-index:99;
            font-size:17px;
        }
        .cont_img{
            width:100%;
            height: 233px;
            img{
                width:100%;
                height:100%;
            }
        }
        .salary_content{
            text-align: left;
            padding:20px;
            .price{
                .rel{
                    color:#FF1949;
                    font-size:25px;
                    padding-right:10px;
                }
                .del{
                    text-decoration: line-through;
                    color: #727695;
                    font-weight: 400;
                    font-size: 20px;
                }
            }
            .desc{
                a{
                    text-decoration:none;
                    font-size:19px;
                    font-weight: bold;
                    color:#07294D;
                    &:hover{
                        color:#FF1949;
                    }
                }
            }
            .rating{
                margin:10px 0;
                span{
                    padding:0 10px;
                }
                a{
                    color:#F2B827;
                }
            }
            .lead{
                color:#535E6B;
                font-size:15px;
            }
            .foot{
                display: flex;
                border-top: 1px solid #e2f4ff;
                padding-top: 15px;
                margin-top: 30px;
                justify-content: space-between;
                .btn{
                    a{
                        text-decoration:none;
                        padding: 16px 30px;
                        border-radius: 5px;
                        font-size: 17px;
                        border: 1px solid transparent;
                        -webkit-transform: translateY(0px);
                        transform: translateY(0px);
                        transition: all 0.3s ease-in-out;
                        background:#385777;
                        color:#fff;
                        &:hover{
                            background: #FF1949;
                        }
                    }
                }
                .status{
                    padding-top:15px;
                    i{
                        padding-left:5px;
                        color:#FF1949;
                    }
                }
            }
        }
    }
}

/**************************************** start footer *****************/
@import '../../css/extends/footer';
/**************************************** end footer *****************/